p{
    text-align: center;
    font-size: 3vh;
}

.ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    position: relative;
    margin: auto;
}
.buttons{
    height: minmax(175px, auto);
    width: minmax(175px, auto);
}
img{
    height: 35vh;
    width:  45vw;
}